gdown
pytorch
torchvision
torchaudio
nibabel
opecv-python
lungmask
SimpleITK-SimpleElastix

dipy
packaging
neurite
torch
torchvision
torchaudio
tensorflow
scikit-image
SimpleITK
numba
pandas
SimpleITK-SimpleElastix